.help{
  position: absolute;
  right: 20px;
  top: 20px;
}

.helpButton{
  background-color: #FDFCDC;
  border: 1px solid black;
  border: none;
  cursor: pointer;
}

.helpButton:hover{
  background-color: #FDFCDC;
}

.helpBox {
  position: absolute;
  top: 30px;
  right: 10px;
  background: white;
  border: 1px solid #ccc;
  padding: 1rem;
  border-radius: 10px;
  z-index: 999;
  padding-top: 0px;
  width: 330px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
}

.helpClose, .renameButton, .searchCode, .codeSearch{
  border-radius: 2px;
  border: 1px solid black;
  outline: none;
  margin-right: 5px;
}

.helpClose:hover, .renameButton:hover, .searchCode:hover, .codeSearch:hover{
  background-color: white;
}

.helpClose:focus, .searchCode:focus{
  outline: none;
}

.codeSearch{
  margin-left: 5px;
  margin-right: 0px;
}

.renameBox, .searchBox{
  border: 1px solid rgb(121, 121, 121);
  border-radius: 2px;
  margin-bottom: 5px;
  display: flex;
  padding: 12px 5px;
  flex-direction: row;
  justify-content: space-between;
}

.searchBox{
  display: flex;
  flex-direction: column;
}

.inputPart{
  display: flex;
  flex-direction: row;
}

.names, .codeEntry{
  box-sizing: border-box;
  outline: none;
  width: 48%;
  display: inline;
  padding: 3px 4px;
  border: 1px solid black;
  border-radius: 2px;
  font-size: 12px;
  font-family: Arial, sans-serif;
}

.names::placeholder, .codeEntry::placeholder{
  color: rgb(77, 77, 77);
}

.codeEntry{
  width: 100%;
  border: 1px solid rgba(0, 0, 0, 0.293);
}

.codeResult {
  margin-top: 2px;
  border-radius: 2px;
  border: 1px solid rgba(115, 115, 115, 0.53);
  padding: 5px;
}

.resultTable {
  width: 100%;
  margin-top: 5px;
  border-collapse: collapse;
}

.resultTable th, .resultTable td {
  padding: 4px 6px;
  border: 1px solid #ccc;
  /* text-align: center; */
  font-size: 13px;
}

.errorMessage {
  color: rgb(38, 36, 36);
  margin: 0px;
  margin-top: 12px;
  font-size: 14px;
}
