.newstock {
  background-color: lightcoral;
  flex: 5;
  font-size: 16px;
  font-weight: lighter;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(11, minmax(40px, 40px));
  padding: 10px;
}

.thesizes .box ::placeholder {
  font-size: 12px !important;
  font-weight: 400;
  font-family: Arial, Helvetica, sans-serif;
}

.dashboard {
  width: 100%;
  height: 80vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  max-width: 1000px;
  min-width: 1000px;
  position: relative;
}

.date,
.details,
.customField {
  padding: 8px 12px;
  font-size: 14px;
  border: none;
  color: rgb(27, 27, 27);
}

.details,
.customField {
  padding: 8px 12px;
  font-size: 14px;
  border-radius: 5px;
}

.details:focus,
.customField {
  outline: none;
}

.details.store {
  grid-column: span 1;
  grid-row: 1;
}

.details.code {
  grid-column: 1 / span 1;
  grid-row: 2;
}

.details.container {
  grid-column: 3;
  grid-row: 1;
}

.itemtype {
  margin-right: 5px;
}

.container {
  display: flex;
  flex-direction: row;
}

.dateCustomField {
  grid-column: 3;
  grid-row: 2;
  display: flex;
}

.date {
  border-radius: 5px;
  color: rgb(117, 117, 117);
  font-family: Arial, Helvetica, sans-serif;
  font-size: 13px;
  flex: 1;
  margin-right: 5px;
}

.date:focus {
  outline: none;
  color: rgb(27, 27, 27);
}

.sizeAction {
  grid-column: 4 / span 2;
  grid-row: 1 / -1;
}

.itemSize {
  font-size: 20px;
  color: rgb(51, 51, 51);
}

.sizeAction,
.thesizes {
  width: 100%;
  display: grid;
  grid-template-columns: 1fr;
  gap: 5px;
}

.thesizes {
  grid-template-rows: repeat(10, 40px);
  grid-auto-rows: 40px;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 446px;
  scroll-behavior: smooth;
}

.thesizes::-webkit-scrollbar {
  display: none;
}

.theaction {
  display: flex;
  justify-content: space-between;
}

.action {
  flex: 1;
  font-size: 2em;
  font-family: Georgia, "Times New Roman", Times, serif;
  color: #f08080;
  border: none;
  background-color: #fdfcdc;
  cursor: pointer;
}

.actAdd {
  margin-right: 6px;
  border-bottom-left-radius: 10px;
}

.actSubmit {
  border-bottom-right-radius: 15px;
}

.action:focus {
  outline: none;
}

.selectedItems {
  grid-column: 1 / span 3;
  max-height: 400px;
}

.clearAll,
.addCustomFieldButton {
  width: 40px;
  border: none;
  border-radius: 5px;
}

.addCustomFieldButton {
  max-width: 40px;
}

.details,
.customField {
  font-size: small;
}

.addCustomSize {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: 1px solid #fdfcdceb;
  border-radius: 5px;
  border-style: dashed;

  transition: background-color 0.2s ease-in-out;
}

.addCustomSize:hover {
  background-color: #fdfcdc;
  color: black;
  cursor: pointer;
}

.customSizeInputContainer {
  display: flex;
  width: 100%;
}

.customSizeInputContainer > * {
  border-radius: 5px;
}

.customSizeInputDeco, .customFieldInputDeco {
  flex: 5;
  background-color: white;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../assets/pattern.svg");
  border: 2px solid white;
}

.customSizeInputDiv {
  flex: 1;
  margin-right: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customSizeInput {
  border: 0px;
  padding: 2px 12px;
  min-width: 0px;
  width: 30px;
  font-weight: lighter;
}

.customSizeInput:focus {
  outline: none;
}

.customFieldInput {
  width: 90%;
}

.customSizeInputAddButton {
  flex: 0.5;
  border: none;
  background-color: white;
  cursor: pointer;
}

.customSizeInput::placeholder {
  color: rgba(128, 128, 128, 0.753);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}

.customFieldInputAddButton {
  flex: 0.25;
}

.addCustomFieldButton:hover,
.clearAll:hover {
  background-color: #f1f0d1;
}

.action:hover {
  background-color: #f1f0d1;
}

.customFieldInputDeco {
  margin-right: 0px;
  border-radius: 5px;
}