.stock{
  background-color: lightcoral;
  flex: 5;
  font-size: 16px;
  font-weight: lighter;
  border-bottom-left-radius: 20px;
  border-bottom-right-radius: 20px;
  display: grid;
  gap: 5px;
  grid-template-columns: repeat(7, 1fr);
  grid-template-rows: repeat(11, minmax(40px,auto));
  padding: 10px;
}

.thesizesReturn .box {
  padding: 0px;
  max-height: 40px;
}

.dashboard{
  width: 100%;
  height: 80vh;
  background-color: red;
  display: flex;
  flex-direction: column;
  border-radius: 20px;
  position: relative;
}

.dateReturn, .details{
  padding: 8px 12px;
  font-size: 14px;
  border: none;
}

.dateReturn:focus{
  outline: none;
}

.dateReturn {
  border-radius: 5px;
  color: rgb(117, 117, 117);
  font-family: Arial, Helvetica, sans-serif;
}

.details{
  padding: 8px 12px;
  border-radius: 5px;
}

.details:focus{
  outline: none;
}

.details.storeReturn {
  grid-column: 1 / span 3;
  grid-row: 1;
}

.details.container {
  grid-column: 1 / span 1; 
  grid-row: 2;
}

.container {
  display: flex;
  flex-direction: row;
}

.clearAll {
  width: 40px;
  border: none;
  border-radius: 5px;
}

.details.codeReturn {
  margin-right: 5px;
}

.dateReturn {
  grid-column: 1 / span 1;
  grid-row: 3; 
  border-radius: 5px;
}

.thesizesReturn {
  grid-column: 2 / span 2;
  grid-row: 1 / span 10;
}

.itemSize{
  font-size: 20px;
  color: rgb(51, 51, 51);
}

.thesizesReturn{
  display: grid;
  grid-template-columns: repeat(1, minmax(40px,auto));
  gap: 5px;
  grid-template-rows: repeat(10, 40px);
  grid-auto-rows: 40px;
  overflow-y: scroll;
  scrollbar-width: none;
  height: 446px;
  scroll-behavior: smooth;
}

.theactionReturn{
  display: flex;
  flex-direction: column;
  grid-column: 1 / span 1;
  grid-row: 8 / span 3;
}

.actionRet{
  flex: 1;
  font-size: 1.8em;
  font-family: Georgia, 'Times New Roman', Times, serif;
  color: lightcoral;
  border: none;
  border-radius: 5px;
  background-color: #FDFCDC;
  cursor: pointer;
}


.actReturn, .actSales{
  border-bottom-right-radius: 5px;
  margin-right: 0px;
  margin-bottom: 5px;
}

.action:focus{
  outline: none;
}

.selectedItemsReturn{
  grid-column: 4 / span 4;
  grid-row: 1 / span 10;
  padding-bottom: 10px;
}

.submitReturn{
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px; 
}

.flower, .flowerBox{
  grid-column: 1 / span 1;
  grid-row: 4 / span 4;
}

.flowerBox{
  background-color: white;
  border-radius: 5px;
}

.flower{
  margin-top: 2px;
  margin-left: 18px;
  height: 170px;
  width: 176px;
}

.grayDiv{
  grid-column: 1 / span 7;
  grid-row: 11;
  width: 100%;
  background-color: rgb(255, 255, 255);
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
}

.details{
  font-size: small;
}

.addCustomSize {
  display: flex;
  justify-content: center;
  align-items: center;
  color: whitesmoke;
  border: 1px solid #fdfcdceb;
  border-radius: 5px;
  border-style: dashed;

  transition: background-color 0.2s ease-in-out;
}

.addCustomSize:hover {
  background-color: #fdfcdc;
  color: black;
  cursor: pointer;
}

.customSizeInputContainer {
  display: flex;
  width: 100%;
}

.customSizeInputContainer > * {
  border-radius: 5px;
}

.customSizeInputDeco {
  flex: 5;
  background-color: white;
  margin-right: 5px;
  align-items: center;
  justify-content: center;
  display: flex;
  background-image: url("../assets/pattern.svg");
  border: 2px solid white;
}

.customSizeInputDiv {
  flex: 1;
  margin-right: 5px;
  background-color: white;
  display: flex;
  justify-content: center;
  align-items: center;
}

.customSizeInput {
  border: 0px;
  padding: 2px 12px;
  min-width: 0px;
  width: 30px;
  font-weight: lighter;
}

.customSizeInput:focus {
  outline: none;
}

.customSizeInputAddButton {
  flex: 0.5;
  border: none;
  background-color: white;
  cursor: pointer;
}

.customSizeInput::placeholder {
  color: rgba(128, 128, 128, 0.753);
  font-family: Arial, Helvetica, sans-serif;
  font-weight: lighter;
}